@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: white;
}

/* Hide the scrollbar but keep the scrolling functionality */
body {
  overflow: scroll; /* Ensure the page is still scrollable */
}

/* For Webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

body{
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
}
